<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.business.dao.DisMapper">

    <select id="selects" resultType="com.example.business.domain.Discounts">
        SELECT id, shop_uuid, `condition`, minus
	    FROM `shop-discounts`
	    WHERE shop_uuid=#{shopUuid}
    </select>

    <update id="upDataDis">
        UPDATE `shop-discounts`
        <set>
            <if test="condition != null and condition !=''"> `condition`=#{condition}, </if>
            <if test="minus != null and minus !=''"> `minus`=#{minus}</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="DeleteDis">
        DELETE FROM `shop-discounts` WHERE id in
        <foreach item="id" collection="ids" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>


    <insert id="addDis">
        INSERT INTO `shop-discounts`
        (shop_uuid, `condition`, minus)
        VALUES (#{shopUuid}, #{condition}, #{minus})
    </insert>
</mapper>